@font-face {
  font-family: "Barlow Bold Italic";
  src: url("./assets/fonts/Barlow/Barlow-BoldItalic.ttf");
}

@font-face {
  font-family: "Barlow Bold";
  src: url("./assets/fonts/Barlow/Barlow-Bold.ttf");
}

@font-face {
  font-family: "Barlow Regular";
  src: url("./assets/fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow Medium";
  src: url("./assets/fonts/Barlow/Barlow-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Barlow Regular", sans-serif;
}

body {
  background-color: #3f4359;
}

:root {
  --fondo: #2a2e47;
  --white: #f8f8f8;
  --azul: #779ed2;
  --rojo: #fe5f55;
  --verde: #70b77e;
  --verdeHover: #4c8f59;
  --amarillo: #e8c547;
  --gris: #808080;
}

a {
  color: var(--white);
  text-decoration: none;
}

ul {
  list-style: none;
}

#map {
  width: 100vw;
  height: 100vh;
}

/*MODAL ASISTENTE*/
#asistente {
  display: flex;
  align-items: center;
  position: absolute;
  width: 75vw;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: var(--fondo);
  z-index: 20;
  border-radius: 30px;
  color: var(--white);
  margin: 1.2rem auto;
  box-shadow: 0 20px 50px #4c516d;
}

/*ESTILOS GENERALES STEPS*/
.step {
  display: none;
}
.step-active {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.textoTop {
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3vw;
}
.textoTop > p:nth-child(1) {
  position: absolute;
  left: 49%;
  top: 6%;
  font-family: "Barlow Bold";
  font-size: 12rem;
  color: #3f4359;
  height: 30vh;
  padding-top: 4.75rem;
  overflow: hidden;
}
.textoTop > p:nth-child(2) {
  color: var(--azul);
  font-family: "Barlow Bold";
  letter-spacing: 2px;
}
.textoTop > h3 {
  font-family: "Barlow Bold";
  font-size: 2.9rem;
  line-height: 118%;
  width: 90%;
  overflow-y: hidden;
  margin-right: 0.5rem;
}

.caja {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 50%;
}
.caja > div:nth-child(1) {
  display: flex;
  align-items: center;
  height: 20%;
}
.caja > div:nth-child(1) > p {
  font-size: 1.1rem;
  overflow: hidden;
}
.caja > div:nth-child(1) > span > img {
  width: 50px;
  height: 50px;
}

/*ESTILOS GENERALES STEPS*/

/*ESTILOS STEP 1*/
#input-archivo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80%;
  border: 1px solid var(--white);
  padding-bottom: 3rem;
}
#input-archivo img {
  width: 60px;
}
#infoInput {
  font-size: 1.2rem;
  margin: 2rem 0;
  overflow-y: hidden;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}
.buttons-container > button {
  font-size: 1.2rem;
  width: 20%;
  height: 50%;
  font-family: "Barlow Medium";
  background-color: var(--verde);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-container > button:hover {
  background-color: var(--verdeHover);
}
/*ESTILOS STEP 1*/

/*ESTILOS STEP 2 y CAJA INFERIOR DEL 1*/

#tema-btns,
#representacion-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  border: 1px solid var(--white);
  padding-bottom: 3rem;
  padding: 0.1rem 0;
}
#tema-btns > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 30%;
  cursor: pointer;
}

#representacion-btns > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 34%;
  cursor: pointer;
}
#tema-btns > div > img,
#representacion-btns > div > img {
  width: 33%;
  margin-bottom: 0.5rem;
  pointer-events: none;
}
#tema-btns > div > p,
#representacion-btns > div > p {
  font-size: 1.1rem;
  font-family: "Barlow Medium";
  overflow: hidden;
  pointer-events: none;
}

.tema-btn-active,
.representacion-btn-active {
  background-color: var(--azul) !important;
}

#tema-btns > div:hover,
#representacion-btns > div:hover {
  background-color: #91b6e78f;
}
/*ESTILOS STEP 2*/
/*MODAL ASISTENTE*/

#infoBox {
  display: none;
  position: absolute;
  right: 2%;
  top: 7%;
  background-color: var(--fondo);
  width: 22vw;
  min-height: 31vh;
  max-height: 60vh;
  border-radius: 30px;
  opacity: 1;
  z-index: 1;
  color: var(--white);
  padding: 1.5rem 0 1rem 1.2rem;
  transition: 1s;
}

#infoBox > h2 {
  height: 15%;
  font-family: "Barlow Bold" sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

#info {
  font-family: "Barlow Medium" sans-serif;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

#info p {
  font-family: "Barlow Regular";
  margin: 0.7rem 0;
  min-height: 5%;
  overflow: hidden;
}
.mapboxgl-ctrl-bottom-right {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  margin: 0 2rem;
}

.mapboxgl-ctrl-icon,
.mapboxgl-ctrl,
.mapboxgl-ctrl-group {
  overflow: hidden;
}

/*ESTILOS MENÚ */
#menu {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  width: 85vw;
  height: 30vh;
  background-color: var(--fondo);
  border-radius: 30px 30px 0 0;
  color: var(--white);
  padding: 0 0 1rem;
  box-shadow: 0 20px 50px #3f4359;
  transition: 1s;
  position: absolute;
  left: 7.5%;
  bottom: 0%;
}
/*ESTILO MENÚ*/

/*ESTILO HEADER MENÚ*/
header {
  width: 85%;
  min-height: 15%;
  margin: 0.4rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;
}
ul {
  width: 90%;
  display: flex;
}
li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
li > button {
  font-size: 1.2rem;
  pointer-events: none;
}

.nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  overflow: hidden;
}
.nav > div > span {
  width: auto;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
#expandir {
  transform: rotate(-90deg);
  transition: 1.2s;
}

.nav > div > span > img {
  width: 25px;
  margin: 0.2rem;
  overflow: hidden;
}

.btn > button {
  border: none;
  background: none;
  color: var(--white);
}
/*ESTILO HEADER MENÚ*/

/*ESTILO PANELES MENÚ*/
.panel-capas {
  display: none;
  background-color: #70b77e;
}
.panel-filtros {
  display: none;
}
.panel-interaccion {
  display: none;
}
.panel-mapa {
  display: none;
}
.panel {
  display: none;
}
.panel-active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  border-top: 1px var(--white) solid;
}

/*ESTILO PANEL MAPAS*/
.panel-mapa {
  justify-content: space-around;
  align-items: center;
  padding-top: 1.5rem;
}
.btn-map {
  height: 7vh;
  width: 30%;
  border: white 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  cursor: pointer;
  margin: 0.5rem, 0rem;
}
.bola {
  flex: 0.75;
  width: 15px;
  height: 15px;
  pointer-events: none;
}
.btn-map > p {
  flex: 3;
  font-size: 1.1rem;
  overflow-y: hidden;
  pointer-events: none;
}
.btn-map > #img-mapa {
  flex: 1.3;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/*ESTILO PANEL MAPAS*/

/*ESTILO PANEL INTERACCIÓN*/
.panel-interaccion {
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}
.cajas-interaccion-grande {
  width: 96.5%;
  min-height: 7vh;
  border: white 1px solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  padding-left: 1rem;
}
#infoParams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.params {
  width: auto;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: var(--verde);
  cursor: pointer;
  transition: 0.5s;
}
.params:hover {
  background-color: var(--verdeHover);
}
.params > p {
  pointer-events: none;
}

.cajas-interaccion {
  width: 30%;
  height: 7vh;
  border: white 1px solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  padding-left: 1rem;
}
.cajas-interaccion > label {
  flex: 2;
  font-size: 1.1rem;
  overflow-y: hidden;
}
.input-container {
  flex: 0.3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: white 1px solid;
}
/*ESTILO PANEL INTERACCIÓN*/

/*ESTILO PANEL FILTROS*/
.panel-filtros {
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.contenedorFiltros {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.cajaFiltro {
  display: none;
}
.cajaFiltroActive {
  display: flex;
  width: 30%;
  border: 1px solid var(--white);
  padding: 1rem 0.5rem;
  margin: 0.5rem;
  text-align: center;
}
.cajaFiltroActive > select {
  background: none;
  padding: 0.1rem;
  color: white;
  width: 50%;
  font-size: 1.05rem;
  flex: 0.5;
  font-family: "Barlow Regular", sans-serif;
}

.cajaFiltroActive > .number {
  flex: 0.3;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
}

.cajaFiltroActive > .text {
  flex: 0.4;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
}
/*ESTILO PANEL FILTROS*/

/*ESTILO PANELES MENÚ*/
